<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<form th:action="@{/update}" th:object="${address}" method="post">

    <div>
        <input type="text" th:field="*{receiverName}" placeholder="Tên người nhận"/>
        <p style="color:red"
           th:if="${#fields.hasErrors('receiverName')}"
           th:errors="*{receiverName}">
        </p>
    </div>

    <div>
        <input type="text" th:field="*{detailedAddress}" placeholder="Địa chỉ"/>
        <p style="color:red"
           th:if="${#fields.hasErrors('detailedAddress')}"
           th:errors="*{detailedAddress}">
        </p>
    </div>

    <button type="submit">Submit</button>

</form>

</body>
</html>